body {
    background-color: #0A0D10;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}


nav {
    
    border: 2px solid #30363D;
    border-radius: 30px;
    max-width: 700px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 15px; /* Equal left and right padding */
}
nav ul li a {
    display: block;
    padding: 10px 30px;
  
    text-align: center;
    text-decoration: none;
    color: #F0F2F8;
    font-weight: bold;
    font-family: inter;
    font-size: 14px;
}

.name {
    font-family: Spicy rice;
    background: linear-gradient(to right, #362417, #9b59b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 30px;
    padding: 50px;
}

.fullspan {

    display: flex;
    justify-content: center; /* Centers horizontally */
}
.memoji {
    width: 10em;
    height: auto;
}

.aboutme {
    background-color: #0D1117;
    width: 30rem;
    height: 15rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    color: #F0F2F8;
    font-family: Inter;
    padding: 20px;
    margin-right: .5rem;
    margin-bottom: .5rem;

}

.aboutme span {
    color: #F0F2F8;
    font-size: 30px;
    font-family: Spicy rice;
}

.music img {
    width: 15.5rem;
    height: 17.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    object-fit: cover;
    margin-top: .5rem;
    margin-right: .5rem;
}

.myspace img {
    width: 16rem;
    height: 17.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    object-fit: cover;
    margin-top: .5rem;
    margin-left: .5rem;
    m
}

.leftsidesecondrow {
    display: flex;
}

.quote p {
    width: 32.4rem;
    height: 15rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    color: #F0F2F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Spicy rice;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.rightsidemiddle {
 
}

.googlemap img {
    width: 16rem;
    height: 17.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    object-fit: cover;
}

.book  {
    width: 16rem;
    height: 33em;
    border: 2px solid #30363D;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: .5rem;
    background-image: url('/images/book.png');
    background-repeat: repeat; 
    background-size: 300px 300px;
}


.kobe img {
    width: 20em;
    height: 36.4em;
    border: 2px solid #30363D;
    border-radius: 30px;
    object-fit: cover;
    margin-left: .5rem;
}
div .favcolor {
    width: 20em;
    height: 14.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: .5rem;
    background-color: black;
    color: #F0F2F8;
    font-family: Inter;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: center;
}

.coffee img {
    width: 20em;
    height: 14.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    object-fit: cover;
    margin-top: .5rem;
    margin-right: .5rem;
}

.tvshow img {
    width: 34em;
    height: 14.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    object-fit: cover;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.foodie img {
    idth: 20em;
    height: 14.5rem;
    border: 2px solid #30363D;
    border-radius: 30px;
    margin-left: .5rem;
    margin-top: ,5rem;
}